.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar content";
  gap: 20px;
  height: calc(100vh - 56px);
  overflow: hidden;
  background-color: #eee;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
  background-color: #fff;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}
